include Makefile
include NEWS
include MANIFEST.in

recursive-include examples *.py
recursive-include src *.py
recursive-include tests *.py
include tests/keys/*.pub
include tests/keys/*.sec

include lib/*.c
include lib/*.h
